* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    
}

.nav-bar {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: "DM Mono", sans-serif;
    font-size: 2rem;
    padding: 0.45em;
    font-weight: 100;
    box-shadow: 0 2px 5px 0 rgba(44, 44, 44, 0.911);
}

.no-of-bunks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -1rem;
    margin-left: 1rem;
}

.no-of-bunks > h1 {
    font-size: 5rem;
    font-family: "DM Mono", sans-serif;
}
.no-of-bunks > p {
    margin-top: -3.5rem;
    font-family: "DM Mono", sans-serif;
    font-size: 1.5rem;
}

hr {
    opacity: 0.25;
}

.main-bunker {
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
}

.main-bunked {
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
}

.main-bunker > input {
    width: 100%;
    border: 2px solid #65C18C;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    border: border-box;
    font-family: "DM Mono", sans-serif;
    border-radius: 2px;
}

.main-bunker > input:focus {
    border-color: #65C18C;
    box-shadow: 0 0 8px 0 #65C18C;
}

.main-bunked > input {
    width: 100%;
    border: 2px solid #FF5C8D;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    border: border-box;
    font-family: "DM Mono", sans-serif;
    border-radius: 2px;
}

.main-bunked > input:focus {
    border-color: #FF5C8D;
    box-shadow: 0 0 8px 0 #FF5C8D;
}

.attendance-goal > h1 {
    font-family: "DM Mono", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

 .range-of-goal > input {
    display: block;
    margin-inline: 2em;
    width: 18rem;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #5800FF;
    border-radius: 4px;
    width: 100%;
    height: 10px;
    cursor: pointer;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #E900FF;
    margin-top: -7.5px;
    cursor: pointer;
  }

.attendance-now > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Mono", sans-serif;
    font-size: 1.5rem;
    
    margin-top: 2rem;
}

#goal-el {
    margin-left: 7.5rem;
}

#present-attendance-el {
    margin-left: 3rem;
}

section {
    margin-top: 3rem;
    border: 2px solid #FFC600;
    margin-inline: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(44, 44, 44, 0.911);
}

.quote {
    display: flex;
    margin-top: 4rem;
    padding-inline: 1.5rem;
    padding-bottom: 1rem;
}

.quote > img {
    width: 5rem;
    aspect-ratio: 16 / 9;
    
}

.quote > p {
    font-family: "DM Mono", monospace;
    font-size: 0.8rem;
}

.bunk-a-class {
    color: #5800FF;
   text-shadow: 2px 1px #FFC600;
   font-weight: bold;
}

.bunks {
    color: #5800FF;
   text-shadow: 2px 1px #FFC600;
   font-weight: bold;
}